* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --hue: 194;
  --bg-color: hsl(var(--hue), 5%, 7%);
  --text-color: hsl(var(--hue), 40%, 98%);
  --primary-color: hsl(var(--hue), 97%, 31%);
  --song-buttons-bg-color: hsl(var(--hue), 0%, 14%);
  
  font-size: clamp(40%, 1% + 2vw, 62.5%);
} 

html.light {
  --bg-color: hsl(var(--hue), 40%, 98%);
  --text-color: hsl(var(--hue), 5%, 7%);
  --song-buttons-bg-color: hsl(var(--hue), 9%, 89%);
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: grid;
  height: 100vh;
  place-content: center;
  padding: 3.2rem;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8rem;
  place-items: center;
}

.flex {
  display: flex;
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  appearance: none;
}

#toggle-mode {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;
  color: var(--text-color);
}

#clock {
  display: grid;
  justify-items: center;
}

#timer {
  font-size: 9.6rem;
  font-weight: bold;
  font-family: "Roboto Mono", sans-serif;
}

#controls {
  margin-top: 4.8rem;
  gap: 4rem;
}

button {
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  cursor: pointer;
  font-size: 4.8rem;
}

#songs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  justify-items: center;
}

.song-button {
  background: var(--song-buttons-bg-color);
  color: var(--text-color);
  border-radius: 24px;
  padding: 3.2rem;
  font-size: 4.8rem;
  transition: hover 300ms;
}

.song-button:hover {
  background-color:  hsl(0, 2%, 62%);
}

.song-button.active {
  background: var(--primary-color);
  color: hsl(0, 0%, 100%);
}

.song-button.active:hover {
  background: hsl(194, 97%, 24%);
}

.running .ph-play-circle,
.running .ph-timer,
.running .ph-plus-circle,
.running .ph-minus-circle,
html:not(.running) .ph-pause-circle,
html:not(.running) .ph-stop-circle {
  display: none;
}

@media (min-width: 900px) {
  #app {
    grid-template-columns: 1fr 1fr;
    gap: 19.2rem;
  }
}